
:root{
    --bg-color: #264653;
    --second-bg-color: #2A9D;
    --text-color: #fff;
    --main-text-color: #00E091;  
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
}
/*--- Header style start ---*/
.header-code{
    margin: 0;
    padding: 0;
}
.header-nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background: var(--bg-color);
    padding: 0 5%;
}
.header-nav.sticky{
    border-bottom: .1rem solid rgba(0,0,0, .2);
}
.my-header{
    font-size: 20pt;
    color: var(--text-color);
    font-weight: 600;
    cursor: default;
    margin: 0;
}
.my-bars{
    font-size: 20pt;
    color: var(--text-color);
    font-weight: 600;
    cursor: default;
    margin: 0;
    display: none;
}
.header-nav ul{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 20px 0;
}
.header-nav ul li{
    list-style-type: none;
    border-radius: 5px;
    padding: 5px 15px;
    transition: .3s ease;
}
.header-nav ul li a {
    text-decoration: none;
    color: var(--text-color);
    display: inline-block;
    font-size: 14pt;
    font-weight: 500;
    transition: .3s ease;
}
.header-nav ul li:hover a {
    color: var(--main-text-color)
}
/* Mobile or Tablet View Nav Start*/
.fullscreen-nav {
    width: 100%;
    transform: translateX(-100%); 
    transition: transform 0.3s ease, opacity 0.3s ease;
    background-color: var(--bg-color);
    position: fixed;
    left: 0;
    height: 100vh;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
}
.fullscreen-nav.active {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
}
.fullscreen-nav.out {
    transform: translateX(-100%);
    opacity: 0;
}
.fullscreen-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-top: 50px;
  position: relative;
}
.x-icon {
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    position: absolute;
    margin: 0;
    padding: 10px;
    right: 8px;
    top: 0px;
}
.fullscreen-nav ul li a {
    width: 100%;
    display: inline-block;
    text-decoration: none;
    padding: 15px 30px;
    color: #ffffff;
    font-size: 14pt;
    font-weight: 500;
    font-weight: 500;
    transition: background-color 0.3s, color 0.3s;
}
.fullscreen-nav ul li a:hover {
  color: #000000;
  background-color: #ffffff;
}
/*Mobile or Tablet View Nav End*/
/*--- Header contnt start ---*/
.header-content{
    background-color: var(--bg-color);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-content .row{
    width: 90%;
    display: flex;
    justify-content: center;
    padding-top: 60px;
    align-items: center;
}
.header-content .home-content h1{
    color: var(--text-color);
    font-size: 40pt;
    font-weight: 700;
    line-height: 50pt;
    margin: 0;
}
.home-content h3{
    color: var(--text-color);
    font-size: 26pt;
    font-size: 700;
    margin: 0;
}
.home-content h3:nth-of-type(2){
    margin-bottom: 20px;
}
.home-content p{
    font-size: 13pt;
    color: var(--text-color);
}
.btn{
    display: inline-block;
    padding: 8px 16px;
    background: var(--main-text-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-text-color);
    font-size: 12pt;
    color: var(--text-color);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;
}
.btn:hover{
    box-shadow: 0 0 1rem var(--text-color);
    color: var(--main-text-color);
    background: var(--text-color);
    
}
.social-media a  {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    background: transparent;
    border: 2px solid var(--main-text-color);
    border-radius: 50%;
    font-size: 1.3rem;
    color: var(--main-text-color);
    margin: 10px 15px 30px 0;
}
.social-media a:hover{
    background: var(--main-text-color);
    color: var(--text-color);
    box-shadow: 0 0 1rem var(--main-text-color);
}
.home-img img{
    width: 100%;
    animation: floatImage 5s ease-in-out infinite;
    margin: 0;
    padding: 30px 10px;
}
@keyframes floatImage {
   0%{
    transform: translateY(0);
   } 
   50%{
    transform: translateY(-2.4rem);
   } 
   100%{
    transform: translateY(0);
   } 
}
span{
    color: var(--main-text-color);
}
/*--- Header style End ---*/
/*--- About style Start ---*/
.about-code{
    background-color: var(--second-bg-color);
}
.about-area{
    width: 85%;
    margin: auto;
}
.about-area-row{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 0;
}
.about-area h2{
    font-size: 20pt;
    font-weight: 700;
    margin: 0;
    color: var(--text-color);
}
.about-area h3{
    font-size: 27pt;
    font-weight: 700;
    margin: 0;
    color: var(--text-color);
}
.about-area h3 span{
    color: var(--bg-color);
}
.about-area p{
    font-size: 12pt;
    font-weight: 400;
    line-height: 18pt;
    margin: 0;
    color: var(--text-color);
}
.personal-details{
    margin-top: 20px;
    padding: 12px 0;
    border-bottom: .1rem solid rgba(0,0,0, .3);
    border-top: .1rem solid rgba(0,0,0, .3);
    color: var(--text-color);
}
.details-padding{
    padding-top: 3px;
    padding-bottom: 3px;
}
.about-area img{
    width: 80%;
    margin-left: 10%;
    padding: 30px 10px;
}
/*--- About style End ---*/

/*--- Portfolio style Start ---*/
.portfolio-code{
    background-color: var(--bg-color);
    padding: 60px 0;
}
.portfolio-area{
    width: 85%;
    margin: auto;
}
.portfolio-area h2{
    font-size: 27pt;
    font-weight: 700;
    color: var(--text-color);
    margin-bottom: 60px;
}
.portfolio-area h3{
    font-size: 20pt;
    font-weight: 700;
    color: var(--text-color);
}
.portfolio-items{
    text-align: left;
    border-top: .1rem solid rgba(0,0,0, .3);
    padding: 20px 5px;
    width: 100%;
    position: relative;
    display: inline-block;
    overflow: hidden;
}
.portfolio-items .img{
    width: fit-content;
    position: relative;
    display: inline-block;
    overflow: hidden;
    text-align: left;
}
.portfolio-items p{
    font-size: 14pt;
    min-width: 150px;
    margin: 0;
    color: var(--text-color);
    text-align: left;
    text-transform: uppercase;
}
.portfolio-items h2{
    font-size: 24pt;
    margin: 0;
    color: var(--text-color);
}
.portfolio-items img{
    margin-left: 20px;
    max-width: 250px;
    border-radius: 5px;
    text-align: left;
    margin: 0;
    padding: 0;
    width: 100%;
    display: block;
    cursor: pointer;
}
.portfolio-items .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 224, 145, 0.2);
    opacity: 0;
    transition: opacity 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.portfolio-items .overlay .fa-eye {
    font-size: 30pt;
    color: white;
}
.portfolio-items:hover .overlay {
    opacity: 1;
}
.modal-body-area{
    background-color: var(--bg-color);
    color: var(--text-color);
}
.close-modal{
    text-decoration: none;
    color: var(--text-color);
    font-size: 24px;
    padding-right: 10px;
}
.close-modal:hover{
    color: var(--text-color);
}
.modal-img{
    width: 100%;
    padding: 20px;
}
.modal-img img{
    width: 100%;
    border-radius: 10px;
}
.modal-text{
    padding: 20px;
}
.modal-text h2{
    font-size: 24pt;
    font-weight: 700;
    margin: 0;
    text-align: left;
}
.modal-text p{
    font-size: 12pt;
    font-weight: 500;
    line-height: 18pt;
    margin: 0;
    text-align: justify;
}
.modal-cards{
    border-radius: 10px;
    background-color: rgba(0,0,0, .2);
}
.cards-content{
    padding: 35px;
    text-align: left;
}
.cards-content p{
    font-size: 12pt;
    margin: 0;
    padding: 5px 0;
    font-weight: 300;
}
.cards-content p b{
    font-weight: 500;
}
.cards-content p span{
    padding-left: 15px;
    color: var(--text-color);
}
.custom-btn-3{
    text-decoration: none;
    background-color: #00a838;
    padding: 4px 8px;
    border-radius: 5px;
    color: var(--text-color);
}

/*--- Portfolio style End ---*/
@media (max-width: 992px) {
    .header-content .home-content h1{
        font-size: 30pt;
        line-height: 35pt;
    }
    .home-content h3{
        font-size: 18pt;
    }
    .home-content h3:nth-of-type(2){
        margin-bottom: 17px;
    }
    .home-content p{
        font-size: 10pt;
        color: var(--text-color);
    }
    .portfolio-items img{
        margin-top: 20px;
    }
}
@media (max-width: 768px) {
    /*--- Header style Start ---*/
    .header-nav ul{
        display: none;
    }
    .my-header{
        padding: 20px 0;
    }
    .my-bars{
        display: block;
    }
    .header-content{
        padding-top: 80px;
    }
    .home-img img{
        width: 80%;
        margin-left: 10%;
        padding: 60px 20px 40px 20px;
    }
    /*--- Header style End ---*/
    /*--- About style Start ---*/
    .about-area-row{
        padding: 40px 0;
    }
    /*--- About style End ---*/
}

@media (max-width: 480px) {
    /*--- Header style Start ---*/
    .header-content{
        padding: 0;
    }
    .header-content {
        padding-top: 20px;
    }
    .header-content .home-content h1{
        font-size: 22pt;
        line-height: 30pt;
    }
    .home-content h3{
        font-size: 14pt;
    }
    .home-content h3:nth-of-type(2){
        margin-bottom: 13px;
    }
    .home-content p{
        font-size: 8pt;
        color: var(--text-color);
    }
    /*--- Header style End ---*/
    /*--- About style Start ---*/
    .about-area h2{
        font-size: 16pt;
        font-weight: 700;
        margin: 0;
        color: var(--text-color);
    }
    .about-area h3{
        font-size: 14pt;
    }
    .about-area p{
        font-size: 8pt;
        line-height: 18px;
    }
    /*--- About style End ---*/
    .portfolio-area h2{
        font-size: 18pt;
        margin-bottom: 30px;
    }
    .portfolio-area h3{
        font-size: 14pt;
    }
    .portfolio-items p{
        font-size: 8pt;
    }
    .portfolio-items h2{
        font-size: 14pt;
    }
    .portfolio-items img{
        margin: 0;
    }
}